.chat-main{
    border:1px solid;
    height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(204, 198, 198);
}
.chat-container{
    width: 80%;
    margin: auto;
}
.input-user{
    width: auto;
    padding: 10px;
    border-radius: 10px;
}
.user-input-container{
    width:100%;
    margin:auto; 
    display: flex;
    flex-direction: column;
    gap:10px
}

.submit-btn{
    width: 220px;
    margin: auto;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
}

.chat-body{
    height: 80vh;
    border:1px solid gray;
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.scroller{
    height: 100%;
}
.you{
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    padding-right:10px;
    border-bottom:1px solid gray  ;    
}
.other{
    background-color: rgb(46, 46, 62);
    display: flex;
    justify-content: flex-start;
    color: white;
    padding-left: 10px;
    border-bottom:1px solid gray  ;
}

.chat-box{
    width: 100%;
    margin: auto;
}
.chat-footer{
    width: 100%;
    margin: auto;
    display: flex;
}
.chat-type{
    width: 100%;
    padding: 10px;
}
.send-btn{
    padding: 10px;
}

@media  only screen and (max-width:500px) {
    .chat-box{
        width:100%;
        margin:auto
    }
    .chat-container{
        width: 90%;
        margin: auto;
    }
    
}